@import '~/assets/fonts/the-future/stylesheet.css';

$black: #000000;
$very-dark: #131313;
$dark-grey: #252525;
$medium-grey: #646464;
$grey: #bdbdbd;
$bright-grey: #efefef;
$white: #ffffff;

$the-future: 'The Future', Arial, sans-serif;
$the-future-mono: 'The Future Mono', monospace;

$fw-regular: 400;
$fw-medium: 500;
